.book__heading {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    font-family: "Poppins Bold";
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: center;
    color: #252526;
}

.book__head-text {
      padding: 0% 20%;
    font-family: "Poppins Regular";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 5%;
}

.book__overall-div {
    background-image: url("../images/book/book-back.png");
    background-size: cover;
}

.book__form-content {
    text-align: center;
}

.book__step {
    width: 55.55%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins Bold";
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.11;
    letter-spacing: 2px;
    color: #4d8c52;
    padding-bottom: 0%;
    margin-bottom: 0%;
    text-align: left;
}

.book__form-content .custom-form-control {
    margin-bottom: 2%;
}

.book__form-content .custom-button {
    margin-bottom: 5%;
}

.bookk__terms__link {
    color: #4d8c52 !important;
    text-decoration: underline !important;
}

.book__world-map {
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.world_image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .book__heading {
        font-size: 20px;
    }
    .book__step {
        font-size: 13px;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }

    .book__head-text {
        font-size: 13px;
    }
}