/* *******BANNER********** */

.home__home-banner {
    background: url("../images/home/banner-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 6.86%;
    width: 100%;
    height: 78.54%;
    position: relative;
}

.home__banner-content {
    position: absolute;
    top: 50%;
    width: 80%;
    transform: translate(0, -50%);
    text-align: justify;
}

.home__banner-icon {
    color: white;
    width: 30px;
    height: 32px;
    display:none;
}

.home__banner-first-line {
    font-family: "Poppins Bold";
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    color: #ffffff;
}

.home__banner-second-line {
    font-family: "Poppins Bold";
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    color: #328e4b;
}

.home__banner-text {
    font-family: "Poppins Regular";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #ffffff;
    width: 56.79%;
    text-align: justify;
}

.home__banner-link {
    font-family: "Poppins Regular";
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d4d6d4 !important;
    text-decoration-line: underline !important;
}

@media screen and (max-width: 768px) {
    /*mobile responsiveness for new banner*/
    .home__home-banner {
        background: url("../images/home/banner-back-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 6.86%;
        width: 100%;
        height: 78.54%;
        position: relative;
    }
    .home__banner-first-line {
        font-size: 24px;
        color: #8a8a8a;/*for new bg*/
    }
    .home__banner-second-line {
        font-size: 24px;
    }
    .home__banner-text {
        font-size: 14px;
        color: #8a8a8a;/*for new bg*/
        font-family: "Poppins Bold";
    }
    .home__banner-link {
        font-size: 12px;
    }
}

@media screen and (max-width: 576px) {
    .home__banner-first-line {
        font-size: 20px;
    }
    .home__banner-second-line {
        font-size: 20px;
    }
    .home__banner-text {
        font-size: 10px;
    }
    .home__banner-link {
        font-size: 8px;
    }
    .home__home-banner {
        background-position: 60% 0%;
    }
}


/* *********AGNIBAAN TRAILER******* */

.home__second-section {
    padding-top: 9.87%;
}

.home__second-content {
    width: 70%;
    padding: 6.86% 7.1428%;
    float: left;
}

.home__second-section-icon {
    color: #4d8c52;
    width: 38px;
    height: 38px;
}

.home__second-section-link {
    letter-spacing: normal;
    color: rgba(33, 56, 66, 0.6) !important;
    text-decoration-line: underline !important;
}

.home__second-section-text {
    font-family: "Poppins Regular";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: rgba(33, 56, 66, 0.6);
    text-align: justify;
}

.home__right-image {
    max-width: 70vw;
    height: 500px;
    margin-right: 5%;
    margin-top: 6%;
    overflow: hidden;
    text-align: right;
}

.home__right-within {
    transform: translateY(0%);
    width: 90%;
    height: 300%;
}

.home__right-within-animated {
    animation-name: wobble;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes wobble {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(1%);
    }
}

@media screen and (max-width: 768px) {
    .home__second-content {
        width: 100%;
        padding: 6.86% 5%;
        text-align: center;
    }
    .home__right-image {
        display: none;
    }
    .home__second-section-heading {
        font-size: 16px;
    }
    .home__second-section-text {
        font-size: 14px;
    }
    .home__second-section-icon {
        width: 20px;
        height: 20px;
    }
}


/* ***********FACTS ABOUT US********* */

.home__quote {
    position: absolute;
    right: 3%;
    z-index: -10000;
}

.home__third-section-icon {
    color: #4d8c52;
    width: 38px;
    height: 38px;
}

.home__second-section-heading {
    font-family: "Poppins Bold";
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d533c;
}

.home__third-content {
    width: 100%;
    float: left;
    padding: 0% 30% 5% 0%;
    text-align: justify;
}

.home__third-section {
    padding: 0% 8.88% 5% 6.86% !important;
}

.home__third-section .row {
    min-width: 100%;
}

.home__third-section .card {
    -webkit-backdrop-filter: blur(8.9px);
    backdrop-filter: blur(8.9px);
    box-shadow: 11px 11px 35px 0 rgba(121, 121, 121, 0.3);
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px !important;
    margin-bottom: 5%;
    height: 100%; 
    /* change below for old card */
    padding-top: 10%;
    padding-bottom: 10%;
}

.home__third-section .card:hover {
    border-radius: 12px;
    -webkit-backdrop-filter: blur(8.9px);
    backdrop-filter: blur(8.9px);
    background: linear-gradient( rgba(75, 136, 80, 0.7), rgba(75, 136, 80, 0.7));
    /* change below for old card */
    padding-top: 3%;
    padding-bottom: 0%;
}

.home__third-section .card#firstcard:hover {
    padding-top: 0% !important;
}

.home__back-icon {
    opacity: 1;
    position: absolute;
    left: 70%;
    width: 50%;
    top: -10%;
}

.home__third-section .card:hover .back-icon {
    opacity: 1.0;
}

.home__third-section .card-head {
    color: #4d8c52;
    font-family: "Poppins Bold";
    font-size: 42px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.89;
    letter-spacing: normal;
    text-align: center;
}

.home__third-section .card-title {
    font-family: "Poppins Medium";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4d533c;
    text-align: center;
}

.home__third-section .card-text {
    font-family: "Poppins Medium";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: white;
    /* change below for old card */
    display: none;
}

.form-back {
    width: 80%;
    position: absolute;
    transform: translate3D(-50%, -60%, -42px);
    z-index: -100000;
    left: 50%;
}

.home__third-section .card-body:hover,
.home__third-section .card-body:hover * {
    color: white;
}

/* remove next for old card */

.card:hover .card-head,.card:hover .card-title {
    display: none;
}

.card:hover .card-text {
    display: block;
    height: 100%;
}


@media screen and (max-width: 768px) {
    .home__third-section-icon {
        width: 20px;
        height: 20px;
    }
    .home__quote {
        display: none;
    }
    .home__third-content {
        text-align: center;
        padding-right: 0%;
        padding-left: 0%;
    }
    .form-back {
        width: 120%;
    }
    .home__third-section {
        padding: 6.86% 5%;
    }
    .home__third-section .card {
        margin-bottom: 5%;
        height: 95%;
        box-shadow: 5px 5px 17.5px 0 rgba(121, 121, 121, 0.3);
    }
    .home__third-section .card-head {
        font-size: 16px;
    }
    .home__third-section .card-title {
        font-size: 14px;
    }
    .home__third-section .card-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 576px) {
    .home__third-section .card:hover {
            padding-top: 8%;
            padding-bottom: 8%;
    }
}


/* *************BOOK MY LAUNCH TRAILER************* */

.home__fourth-section {
    width: 100%;
    border-top: 1px solid #4d8c52;
    margin-top: 5%;
    margin-bottom: 10%;
}

.home__fourth-head {
    text-align: center;
}

.home__fourth-head .home__mid-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-family: "Poppins Bold";
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: center;
    color: #4d533c;
    padding: 0;
    width: 42.55%;
}

.home__fourth-section-text {
    font-family: "Poppins Regular";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: rgba(97, 97, 97, 0.6);
    margin-bottom: 5%;
    margin-left: 15.2%;
    margin-right: 15.2%;
}

@media screen and (max-width: 768px) {
    .home__fourth-head .home__mid-text {
        font-size: 16px;
    }
    .home__fourth-section-text {
        font-size: 12px;
    }
}


/* *************custom-modal after clicking the book my launch button************ */

.home__custom-modal-out {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.8);
    display: none;
    z-index: 100000000;
}

.home__custom-modal-outer {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 12px;
    border: 1px solid #4d8c52;
    background-color: white;
}

.home__custom-modal-out.show {
    display: block;
}

.home__custom-modal {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    padding: 3% 5%;
    background-color: white;
    scrollbar-color: #b7b7b7;
    scrollbar-width: thin;
    scrollbar-arrow-color: rgba(225, 225, 225, 0);
}

.home__custom-modal-text {
    font-family: "Poppins Regular";
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 2px;
    color: #252526;
    text-align: justify;
    margin-top: 5%;
}

.home__close-icon {
    position: absolute;
    top: 3%;
    right: 3%;
    font-weight: bold;
    font-family: "Poppins Bold";
}

.custom-modal-button {
    margin-top: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 576px) {
    .home__custom-modal-outer {
        width: 66%;
        height: 66%;
        top: 17%;
        left: 17%;
    }
    .custom-modal-button {
        width: 70%;
    }
    .home__custom-modal-text {
        margin-top: 10%;
    }
}


/* *************** contact us**************** */

.home__fifth-section {
    position: relative;
    padding: 5% 25% 5% 10%;
    width: 70%;
    margin-left: 0%;
    margin-bottom: -10%;
    box-shadow: 50px 25px 50px 0 rgba(0, 0, 0, 0.15), 0 0 12px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    z-index: 100;
}

.home__fifth-content {
    font-family: "Poppins Bold";
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #4d533c;
}

.home__fifth-section-link {
    font-family: "Poppins Bold";
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d4d6d4;
}

@media screen and (max-width: 768px) {
    .home__fifth-section {
        box-shadow: none;
        margin-bottom: 0%;
        padding: 5% 17.5%;
        background: none;
        margin-left: 15%;
        text-align: center;
    }
    .home__fifth-content {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .home__fifth-section {
        background-color: white;
    }
}


/* ***************First row of footer should have some extra space in the home page******** */

.home__first-row {
    padding-top: 10%;
}