.launch__section-head {
    font-family: "Poppins Bold";
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: #252526;
    margin: 0;
}

.launch__section-head-text {
    padding: 0% 23.3%;
    font-family: "Poppins Regular";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: rgba(33, 56, 66, 0.6);
}

.launch__overall-div {
    display: flex;
    height: auto;
    margin-bottom: -31.5%;
}

.launch__location-swiper {
    width: 30vw;
    height: auto;
    float: left;
}

.launch__location__swiper-slide {
    margin-left: 18.86%;
    margin-right: 1%;
    z-index: 10000;
    width: 80%;
    margin-bottom: 2%;
    height: auto !important;
}

.launch__location__slide-content {
    width: 90%;
    padding: 5% 3%;
    border-radius: 13px;
    box-shadow: 0 10px 20px 0 #d4d4d4;
    background-color: #ffffff;
}

.launch__location__slide-number {
    font-family: "Poppins Bold";
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #252526;
    margin-bottom: 0% !important;
}

.launch__location__slide-name {
    font-family: "Poppins Bold";
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d8c52;
    margin-bottom: 0% !important;
}

.launch__location__slide-country {
    font-family: "Poppins Regular";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
}

.launch__location__slide-desc {
    display: none;
    font-family: "Poppins Regular";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(33, 56, 66, 0.6);
}

.launch__location__slide-desc a {
    color: #4d8c52;
    text-decoration: none;
}

.launch__location__slide-desc a:hover {
    color: #4d8c52 !important;
}

.launch__location__slide-desc.active {
    display: block;
}

.launch__location__slide-content.active {
    border: solid 1px #4d8c52;
}

.launch__world-map {
    width: 70%;
    height: auto;
    margin-top: 0.5%;
    margin-left: 2%;
    position: relative;
    float: right;
    z-index: -100000;
}

.world_image {
    height: 50%;
}

.launch__button-div {
    width: 50%;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5% 15px;
    text-align: center;
    z-index: 1000000;
}

@media screen and (max-width: 768px) {
    .launch__world-map {
        display: none;
    }
    .launch__overall-div {
        margin-bottom: 5%;
    }
    .launch__location-swiper {
        width: 100vw;
        text-align: center;
    }
    .launch__location-swiper .swiper-wrapper {
        text-align: center;
    }
    .launch__location__swiper-slide {
        margin-left: auto;
        margin-right: auto;
    }
    .launch__location__slide-desc {
        display: block;
    }
    .launch__location__slide-content {
        border: solid 1px #4d8c52 !important;
    }
}

@media screen and (max-width: 576px) {
    .launch__button-div {
        width: 72%;
        margin-right: 18%;
        margin-left: 10%;
    }
}