/* ******************css for facilitationg scroll animation********** */

body.products {
  overflow-y: scroll;
  height: 4000px;
}

body.products .body {
  overflow: hidden;
}

.nav-fixed {
  position: fixed !important;
  width: 100%;
  z-index: 100000000;
  background-color: white;
}


@media screen and (max-width: 576px){
  body.products {
  height: 5000px;
  }
}

/* *************rocket animation images******** */

.original-div {
  width: 100%;
  overflow-x: hidden;
  top: 10%;
  position: fixed;
  /* height: 100vh; */
  min-height: 100%;
  overflow-y: hidden;
  background-image: url("../images/products/hex-back.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.original-div > div {
  position: absolute !important;
}

.rocket-horizontal {
  top: 40%;
  left: 50%;
  display: inline-flex;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  margin-bottom: 2%;
  width: 75.76%;
  z-index: -100000;
}

.rocket-horizontal-2 {
  left: 66%;
  top: 70.4%;
  display: inline-flex;
  transform-origin: 103% 112%;
  -webkit-transform-origin: 103% 112%;
  -moz-transform-origin: 103% 112%;
  -o-transform-origin: 103% 112%;
  -ms-transform-origin: 103% 112%;
  margin-bottom: 2%;
  width: 25%;
  z-index: -100000;
}

.rocket-1 {
  width: 22.5%;
  margin-right: -4.5%;
}

.rocket-2 {
  width: 22.5%;
  margin-right: -6.9%;
}

.rocket-3 {
  width: 70%;
}

.truck {
  width: 40%;
  position: absolute;
  opacity: 0;
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
}

.stand {
  width: 27%;
  transform-origin: 91% 90%;
  -webkit-transform-origin: 91% 90%;
  -moz-transform-origin: 91% 90%;
  -o-transform-origin: 91% 90%;
  -ms-transform-origin: 91% 90%;
  position: absolute;
  left: 80%;
  top: 59%;
  z-index: -1000;
}

.hydraulic {
  width: 3.3%;
  height: 1.5%;
  transform-origin: 95% 50%;
  -webkit-transform-origin: 95% 50%;
  -moz-transform-origin: 91% 90%;
  -o-transform-origin: 91% 90%;
  -ms-transform-origin: 91% 90%;
  position: absolute;
  right: 11.9%;
  top: 77.2%;
  transform: rotate(1deg);
  object-fit: cover;
  object-position: right;
  z-index: -10000;
  opacity: 0;
}

.hydraulic-mobile {
  width: 3.3%;
  height: 1.5%;
  transform-origin: 95% 50%;
  position: absolute;
  right: 11.9%;
  top: 77.2%;
  transform: rotate(1deg);
  object-fit: cover;
  object-position: right;
  z-index: -10000;
  opacity: 0;
}

@media screen and (max-width: 576px) {
  .hydraulic-mobile {
    height: 0.5%;
  }
  .rocket-horizontal-2 {
    top: 79.4%;
  }
}

/* **********first scroll************* */

.first-scroll-content {
  padding: 3.73% 11.67% 2.61%;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  text-align: justify;
  width: 100%;
}

.first-scroll-heading {
  font-family: "Poppins SemiBold";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 12px;
  text-align: center;
  color: #5b5b5b;
}

.first-scroll-text {
  font-family: "Poppins Regular";
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: rgba(33, 56, 66, 0.6);
}
.text span {
  font-family: "Poppins Light Italic";
}
.first-scroll-text span{
  font-family: "Poppins Italic";
}


.first-scroll-specs {
  width: 75.7%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.first-scroll-specs div {
  position: relative;
}

.first-scroll-specs i {
  color: #4d8c52;
}

.spec-name {
  font-family: "Poppins Medium";
  margin-top: 1%;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1.82px;
  color: #7d8b91;
}

.spec-value {
  font-family: "Poppins Light";
  margin-top: 3%;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .first-scroll-heading {
    font-size: 14px;
  }
  .first-scroll-text {
    font-size: 12px;
  }
  .first-scroll-content {
    padding: 2.61% 10.82%;
  }
  .first-scroll-specs {
    width: 83.3%;
  }
  .spec-name {
    font-size: 12px;
  }
  .spec-value {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .spec-name {
    font-size: 12px;
    margin-bottom: 0%;
  }
  .spec-value {
    font-size: 12px;
    margin-top: 1%;
  }
  .first-scroll-content {
    padding: 0% 5.82% 0% 5.82%;
  }
  .first-scroll-heading {
    margin-bottom: 1%;
  }
  .first-scroll-specs {
    top: 55%;
    width: 90%;
    margin-left: 5.82%;
  }
  .first-scroll-specs .col-xs {
    width: 150px !important;
    background-color: #000000;
  }
  .first-scroll-text {
    font-size: 12px;
  }
  .first-scroll-heading {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .first-scroll-specs {
    top: 60%;
  }
  .first-scroll-text {
    font-size: 8px;
  }
  .first-scroll-heading {
    font-size: 12px;
  }
  .spec-name {
    font-size: 12px;
  }
  .spec-value {
    font-size: 12px;
    line-height: normal;
  }
}

/* *********to be used for all the following scrolls******* */

.heading {
  font-family: "Poppins Medium";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1.82px;
  color: #4d8c52;
  margin-bottom: 0.5%;
}

.text {
  font-family: "Poppins Light";
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: rgba(33, 56, 66, 0.6);
  text-align: justify;
  word-wrap: break-word;
}


.icon {
  color: #4d8c52;
}

@media screen and (max-width: 768px) {
  .heading,
  .text {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .heading,
  .text {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .heading,
  .text {
    font-size: 10px;
  }
}

/* ************SECOND SCROLL***************** */

.second-scroll {
  opacity: 0;
}

.second-scroll-1 {
  top: 10%;
  left: 7%;
  width: 15.83%;
}

.number {
  font-family: "Poppins Black";
  font-size: 28px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 2px;
  color: #4d8c52;
  margin-bottom: 2%;
}

.content {
  font-family: "Poppins SemiBold";
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 6px;
  color: #5b5b5b;
}

.second-scroll-2 {
  top: 10%;
  left: 30%;
  width: 54%;
}

.second-scroll-3 {
  top: 67%;
  left: 50%;
  transform: translateX(-50%);
  width: 86%;
}

.second-scroll-3 .col {
  width: 355px !important;
}

@media screen and (max-width: 768px) {
  .number {
    font-size: 16px;
  }
  .content {
    font-size: 14px;
  }
  .second-scroll-1,
  .second-scroll-2 {
    top: 7%;
  }
  .second-scroll-3 {
    top: 57%;
  }
}

@media screen and (max-width: 576px) {
  .second-scroll-2 {
    word-wrap: break-word;
    width: 40%;
    left: 40%;
  }
  .number {
    font-size: 15px;
  }
  .content {
    font-size: 13px;
  }
  .second-scroll-1,
  .second-scroll-2 {
    top: 2%;
  }

  .second-scroll-3 {
    top: 52%;
  }
}

@media screen and (max-width: 320px) {
  .number {
    font-size: 12px;
  }
  .content {
    font-size: 10px;
  }
}

/* **************third scroll**************** */

.third-scroll {
  opacity: 0;
}

.third-scroll-1 {
  top: 10%;
  left: 7%;
  width: 15.83%;
}

.third-scroll-2 {
  top: 10%;
  left: 22.5%;
  width: 44.44%;
}

.third-scroll-3 {
  top: 65%;
  left: 7%;
}

.third-scroll-3 i {
  margin-bottom: 5%;
}

.third-scroll-4 {
  top: 65%;
  left: 50%;
  width: 36.74%;
}

.third-image-1 {
  width: 12.83%;
  top: 50%;
  left: 30%;

  display: none;
}

.third-image-2 {
  width: 7%;
  top: 10%;
  right: 1%;
  display: none;
}

.third-image-3 {
  width: 7%;
  top: 10%;
  right: 8%;

  display: none;
}

.third-image-4 {
  width: 7%;
  top: 10%;
  right: 15%;

  display: none;
}

@media screen and (max-width: 768px) {
  .third-image-1 {
    width: 12.83%;
  }
}

@media screen and (max-width: 576px) {
  .third-scroll-2 {
    left: 30%;
    width: 50%;
  }
  .third-scroll-3,
  .third-scroll-4 {
    top: 55%;
  }
  .third-scroll-1,
  .third-scroll-2 {
    top: 2%;
  }
  .third-image-1,
  .third-image-2,
  .third-image-3,
  .third-image-4 {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .third-scroll-3 {
    width: 30%;
  }
}

/* *******************fourth image****************** */

.fourth-scroll {
  opacity: 0;
}

.fourth-scroll-1 {
  top: 10%;
  left: 7%;
  width: 15.83%;
}

.fourth-scroll-2 {
  left: 56.46%;
  top: 10%;
  width: 32.15%;
}

.fourth-scroll-3 {
  left: 15.47%;
  top: 66%;
  width: 53.62%;
}

.fourth-image {
  width: 175px;
}

.fourth-image svg {
  width: 100%;

  display: none;
}

.fourth-image-1 {
  top: 28%;
  left: 45.63%;
  transform: translate(-50%, -80%);

  display: none;
}

.fourth-image-2 {
  top: 50%;
  left: 70%;
  transform-origin: 50% 0%;
  transform: translateY(-10%);

  display: none;
}

@media screen and (max-width: 768px) {
  .fourth-scroll-1,
  .fourth-scroll-2 {
    top: 7%;
  }
  .fourth-scroll-3 {
    top: 57%;
  }
  .fourth-image {
    width: 130px;
  }
}

@media screen and (max-width: 576px) {
  .fourth-scroll-1,
  .fourth-scroll-2 {
    top: 2%;
  }
  .fourth-image {
    width: 80px;
    display: none;
  }
  .fourth-image-1 {
    top: 20%;
    left: 40%;
  }
}

/* **********fifth scroll************ */

.fifth-scroll {
  opacity: 0;
}

.fifth-scroll-1 {
  top: 10%;
  left: 7%;
  width: 20.83%;
}

.fifth-scroll-2 {
  top: 10%;
  left: 33%;
  width: 45.7%;
}

.fifth-scroll-3 {
  top: 35%;
  left: 7%;
  width: 22.3%;
}

.fifth-scroll-3 .roww {
  width: 100%;
}

.fifth-scroll-3 .column {
  width: 100%;
  margin-bottom: 2%;
}

@media screen and (max-width: 768px) {
  .fifth-scroll-3 {
    top: 30%;
  }
}

@media screen and (max-width: 576px) {
  .fifth-scroll-2 {
    word-wrap: break-word;
    width: 40%;
    left: 40%;
  }
  .fifth-scroll-2,
  .fifth-scroll-1 {
    top: 2%;
  }
  .fifth-scroll-2 {
    left: 50%;
  }
  .fifth-scroll-3 {
    top: 25%;
    width: 35%;
  }
}
