/* ********TECH HEADING************ */
.tech__section-head {
    font-family: "Poppins Bold";
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: #252526;
    margin-top: 3%;
}

.tech__section-head-text {
    padding: 0% 16%;
    font-family: "Poppins Regular";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: rgba(33, 56, 66, 0.6);
}

.tech__heading {
    font-family: "Poppins Bold";
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #4d533c;
    margin-bottom: 2%;
}

.tech__text {
   font-family: "Poppins Regular";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: rgba(33, 56, 66, 0.6);
    text-align: justify;
}

.tech__text a {
    color: #328e4b;
    text-decoration: underline !important;
}

.tech__row {
    margin: 5.5% 0%;
}

.tech__row__reverse {
    flex-direction: row-reverse;
}

.tech__image {
    object-fit: contain;
    width: 82.5%;
}

.tech__techs {
    padding: 0% 5% !important;
}

@media screen and (max-width: 768px) {
    .tech__text, .tech__section-head-text  {
        font-size: 14px;
        padding: 0% 3%;
    }
    .tech__heading,.tech__section-head {
        font-size: 16px;
        text-align: center;
    }
    .tech__row__reverse {
        flex-direction: row;
    }
    .tech__techs {
        padding: 0% 0% !important;
    }
}