/* ********TECH HEADING************ */
.tech__section-head {
    font-family: "Poppins Bold";
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: #252526;
    margin: 0;
}

.tech__section-head-text {
    padding: 0% 23.3%;
    font-family: "Poppins Regular";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: rgba(33, 56, 66, 0.6);
}

/* *****************TECH SLIDES***************** */

.techs{
    margin-top: 0%;
    padding-bottom: 5%;
    display: flex;
}

.tech-swiper {
    width: 100%;
    padding-top: 5%;
}

.tech-swiper .swiper-wrapper {
    width: 100%;
}

.tech-swiper-slide {
    width: 460px !important;
}

.tech-slide-content {
    margin: 5%;
    padding: 0% 5% 2% 5%;
}

.tech-slide-img {
    width: 100%;
    height: 50%;
    margin-bottom: 5%;
    object-fit: fill;
    border-radius: 13px;
    border-radius: 13px;
}

.tech-slide-head {
     font-family: "Poppins Bold";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal
}

.tech-slide-text {
    font-family: "Poppins Regular";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: normal;
    text-align: justify;
}

.tech-slide-link {
    font-family: "Poppins Bold";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1px;
    margin-right: auto;
    min-width: 100%;
    color: #4d8c52 !important;
    text-decoration: underline !important;
}

.tech-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    border-radius: 50%;
    transform: rotate(45deg);
}

.tech-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.hidden-bullet {
    background-color: rgba(255, 255, 255, 0);
    display: none;
}

.tech-swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #4d8c52;
}

.tech-swiper-button-next,
.tech-swiper-button-prev {
    width: 32px !important;
    height: 32px !important;
    top: 30% !important;
}

.tech-swiper-button-next::after,
.tech-swiper-button-prev::after {
    font-weight: 1000;
    font-size: 32px !important;
    color: black;
}

@media screen and (max-width: 768px) {
   
    .tech-slide-head, .tech-slide-text, .tech-slide-link{
        font-size: 14px;
    }
    .tech-slide-content {
        margin: 5% 10%;
        padding: 0% 10% 5% 10%;
        height: auto;
    }
    .tech-slide-img {
        width: 100%;
        height: 40%;
    }
    .tech-swiper-button-next::after,
    .tech-swiper-button-prev::after {
        font-size: 20px !important;
    }
}

/* ***************TECH MODAL*************** */
.tech-modal-out {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.8);
    display: block;
    z-index: 100000000;
}

.tech-modal-outer {
    position: fixed;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    border-radius: 12px;
    border: 1px solid #4d8c52;
    background-color: white;
}

.tech-modal-out.show {
    display: block;
}

.tech-modal {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 3% 5%;
    background-color: white;
    scrollbar-color: #b7b7b7;
    scrollbar-width: thin;
    scrollbar-arrow-color: rgba(225, 225, 225, 0);
}

.tech-modal-heading {
    text-align: center;
    width: 100%;
    font-family: "Poppins Bold";
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: center;
    color: #4d8c52;
}

.tech-modal::-webkit-scrollbar {
    width: 5px;
}

.tech-modal::-webkit-scrollbar-track {
    background: white;
}

.tech-modal::-webkit-scrollbar-thumb {
    background-color: #b7b7b7;
    border-radius: 20px;
}

.tech-modal-text {
    font-family: "Poppins Regular";
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 2px;
    color: #252526;
    text-align: justify;
}

.tech-modal-text a{
    color: #4d8c52;
}

.tech-close-icon {
    position: absolute;
    top: 3%;
    right: 3%;
    font-weight: bold;
    font-family: "Poppins Bold";
}

@media screen and (max-width: 768px) {
    .tech-modal-heading {
        font-size: 16px;
    }
    .tech-modal-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 576px) {
    .tech-modal-outer {
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        border-radius: 0px;
    }
}

/* *********** tech-timeline ************** */
.tech-timeline {
    width: 100%;
    padding-top: 10%;
    position: relative;
    text-align: center;
    margin-top: -10%;
}

.tech-timeline-year {
    display: block;
    margin: 1% 0%;
    text-align: center;
    background: white;
}

.tech-timeline-year p {
    font-family: "Poppins Bold";
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #4d8c52;
    margin-bottom: 0;
}

.tech-timeline-image{
    border: 1px solid #4d8c52;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    padding: 1px;
}

.tech-timeline-section {
    background-color: white;
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    z-index: 1000;
    position: relative;
}

.tech-timeline-text {
    text-align: center;
    font-family: "Poppins Regular";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: rgba(33, 56, 66, 0.6);
}

.tech-vertical-line {
    border-left: 1px solid #4d8c52;
    height: 100%;
    position: absolute;
    left: 50%;
    z-index: 0000;
}